

/* This contains all the styling for the webpage */


#bodydiv
{
	width:1200px;
	height:1000px;
	margin:auto;
}

h4
{
	font-family: "Copperplate Gothic Light", sans-serif;
	font-weight: bold;
}
text
{
	font-family: "Copperplate Gothic Light", sans-serif;
	font-size: 75%;
}

input
{
	height:25px;
	width:300px;
}

g.entry:hover
{
	cursor: pointer;
	font-weight: bold;
	opacity: 1;
	background-color: rgba(0, 255, 0, 1);
	margin:auto;
}

#keys0
{
	padding-left: 50px;
	height:30px;
}
#keys1
{
	padding-left: 100px;
}
#keys2
{
	padding-left: 140px;
}
#keys3
{
	padding-left: 180px;
}

#tableTerm
{
	position:relative;
	margin-top:50px;
	margin-left:20px;
	background-color: rgba(181, 197, 248, .7);
	padding:10px;
	padding-left:10px;
}

td.termTD
{
	width:30px;
	height:30px;
	font-family: "Copperplate Gothic Light", sans-serif;
	font-size: 120%;
	text-align:center;
}
td.termTD:hover
{
	cursor: pointer;
	font-weight: bold;
	font-size: 160%;
}

td.keys
{
	border-style:solid;
	border-width:2px;
	padding:4px;
	width:55px;
	height:40px;
	text-align:center;
	font-family: "Copperplate Gothic Light", sans-serif;
	font-size: 175%;
}
td.keys:hover
{
	font-weight: bold;
	font-size: 195%;
	border-width:4px;
	padding:2px;
	cursor: pointer;
}

#enter
{
	border-width:2px;
	padding:4px;
	width:150px;
	font-size: 120%;
}
#enter:hover
{
	font-weight: bold;
	border-width:4px;
	padding:2px;
}
#backspace
{
	border-width:2px;
	padding:4px;
	width:140px;
	font-size: 125%;
}
#backspace:hover
{
	font-weight: bold;
	border-width:4px;
	padding:2px;
}
#clear
{
	border-width:2px;
	padding:4px;
	width:86px;
	height:40px;
	font-size: 150%;
}
#clear:hover
{
	font-weight: bold;
	border-width:4px;
	padding:2px;
	font-size: 175%;
	background-color: rgba(250, 5, 5, .8);
}
#search
{
	width:520px;
	height:20px;
	position:relative;
	margin-top:20px;
	border-style:none;
	padding:2px;
	font-size: 100%;
	font-weight: bold;
	text-align:left;
}

#keyboard
{
	position:relative;
	margin-top:20px;
	margin-left:20px;
	background-color: rgba(181, 197, 248, .7);
	padding:10px;
	padding-left:10px;
}

svg
{
	border-style:solid;
	border-width:1px;
	margin-top:20px;
    margin-left:20px;
	background-color: rgba(181, 197, 248, .7);
}

#display
{
	border-style:solid;
	border-width:1px;
	width:878px;
	height:548px;
	position: absolute;  
    top:27px;
    margin-left:320px;
}

